@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-fontBody bg-bgColor text-white select-none;
  }
}

@layer components {
  .container {
    max-width: 1024px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  .wrapp-slider .swiper-slide {
    width: 250px;
  }
}
