@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-fontBody bg-bgColor text-white select-none;
  }
}

@layer components {
  .container {
    max-width: 1024px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  .wrapp-slider .swiper-slide {
    width: 250px;
  }
  .skeleton {
    background-color: #ccc;
    background-image: linear-gradient(90deg, rgba(#fff, 0), rgba(#fff, 0.5), rgba(#fff, 0));
    background-size: 40px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    animation: shine 1.5s ease infinite;
  }

  @keyframes shine {
    to {
      background-position: right -40px top 0;
    }
  }
}
